= form_for @race_move do |f|
  - if @race_move.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race_move.errors.count, "error")} prohibited this race_move from being saved:"
      %ul
        - @race_move.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :race_player
    = f.text_field :race_player
  .field
    = f.label :choice
    = f.text_field :choice
  .field
    = f.label :dice_face
    = f.number_field :dice_face
  .actions
    = f.submit 'Save'
