%p#notice= notice

%p
  %b Race player:
  = @race_move.race_player
%p
  %b Choice:
  = @race_move.choice
%p
  %b Dice face:
  = @race_move.dice_face

= link_to 'Edit', edit_race_move_path(@race_move)
\|
= link_to 'Back', race_moves_path
