<%= form_for(race_game) do |f| %>
  <% if race_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(race_game.errors.count, "error") %> prohibited this race_game from being saved:</h2>

      <ul>
      <% race_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :distance %>
    <%= f.number_field :distance %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
