%p#notice= notice
%h1=RaceGame.model_name.human(count: 2)
%table
  %thead
    %tr
      %th= RaceGame.human_attribute_name :distance
      %th{:colspan => "3"}
  %tbody
    - @race_games.each do |race_game|
      %tr
        %td= race_game.distance
        %td= link_to 'Show', race_game
        %td= link_to 'Edit', edit_race_game_path(race_game)
        %td= link_to 'Destroy', race_game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to t("start_new_game"), new_race_game_path
