#spectator
  .top-bar
    .top-bar-block
      %strong #{RaceGame.human_attribute_name :total_players}:
      = @race_game.race_players.count
    .top-bar-block#tick
      %strong #{RaceGame.human_attribute_name :tick}:
      = @race_game.tick
    .top-bar-block
      %strong #{RaceGame.human_attribute_name :moved}:
      = @race_game.race_players.select{|x| x.race_moves.find_by_tick(@race_game.tick)}.count
    .top-bar-block
      = notice

  %ul.cars
    - @race_game.sorted_players.each do |player|
      %li.car{id: "car#{player.index}"}
        %span.steps{class: "step#{[player.steps, 50].min}"}= player.steps
        %span.scars{class: "scar#{[player.scars, 6].min}"}
        %span.index= player.index

-unless @inner_only
  .controls
    =button_to RaceGame.human_attribute_name(:previous_tick), previous_tick_race_game_path(@race_game), method: :get
    =button_to RaceGame.human_attribute_name(:start_next_tick), choose_first_race_game_path(@race_game)
  .qr-code
    =image_tag(qr_code_race_game_path(@race_game, format: 'svg'))

  :javascript
    var reload = function() {
      $.get('?inner_only=true', function(data) {
        $('#spectator').html(data);
      });
      setTimeout(reload, 1000);
    };
    setTimeout(reload, 1000);
