%p#notice= notice
%p
  %strong Distance:
  = @race_game.distance
=button_to 'Choose-First', choose_first_race_game_path(@race_game)
%ul
  - @race_game.race_players.each do |player|
    %li.car{id: "car#{player.index}"}
      %span.index= player.index
      %span.steps= player.steps
      %span.scars= player.scars
