- if @thrown
  %p
    Dice:
    %span.dice
      = @current_dice_number
  %p
    Step:
    %span.steps
      = @player.steps
  %p Last Choice: Normal
  %p Distance: 0
  %p
    Damage: #{@player.damage}

= button_to 'Normal', "/players/#{@player.id}/select_dice", :method => :put
= button_to 'Super', "/players/#{@player.id}/select_dice", :method => :put
