- if @thrown
  %p
    Dice:
    %span.dice
      = @current_dice_number
  %p
    Step:
    %span.steps
      = @player.steps
  %p Last Choice: Normal
  %p Distance: 0
  %p
    Damage: #{@player.damage}

= button_to 'Normal', select_dice_player_path(@player, choice: 'normal'), :method => :put
= button_to 'Super', select_dice_player_path(@player, choice: 'super'), :method => :put
