- if @thrown
  %p Dice: 1
  %p Step: #{@step}
  %p Last Choice: Normal
  %p Distance: 0

= button_to 'Normal', "/players/#{@player.id}/select_dice", :method => :put
= button_to 'Super', "/players/#{@player.id}/select_dice", :method => :put
