%div.player
  - if @thrown
    %p
      Dice:
      %span.dice
        = @player.current_dice_number
    %p
      Step:
      %span.steps
        = @player.steps
    %p
      Last Choice:
      %span.choice
        = @player.choice
    %p 
      Distance:
      %span.distance
        = @player.distance
    %p
      Damage:
      %span.damage
        = @player.damage

%div.buttons
  = button_to 'Normal', select_dice_player_path(@player.id, choice: 'normal'), :method => :put
  = button_to 'Super', select_dice_player_path(@player.id, choice: 'super'), :method => :put
