%p#notice= notice
%h1 Race Players
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @race_players.each do |race_player|
      %tr
        %td= link_to 'Show', race_player
        %td= link_to 'Edit', edit_race_player_path(race_player)
        %td= link_to 'Destroy', race_player, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Race Player', new_race_player_path
