.player-body
  .message
    #notice= notice
    #alert= alert
  .car{id: "car#{@race_player.index}"}
    %span.scars{class: "scar#{[@race_player.scars, 6].min}"}
    %span.index= @race_player.index
  .dice
    .dice-face
      -if @race_player.dice_face
        .face-inner{class: "dice-face#{@race_player.dice_face}"}
          .dice-number
            =@race_player.dice_face
        -unless alert
          #face-gif
            =image_tag("dice.gif")
  .distance
    -if @race_player.dice_face
      %p
        -scars = @race_player.scars
        -scars-=1 if @race_player.race_moves.last.super?
        %em #{RacePlayer.human_attribute_name :your_choice_was} : "#{RacePlayer.human_attribute_name @race_player.race_moves.last.choice}",
        %br
        %em #{RacePlayer.human_attribute_name :your_previous_scars}: #{scars}
        %br
        %em #{RacePlayer.human_attribute_name :you_went}: #{[0, @race_player.race_moves.last.moves - scars].max}

    %strong #{RacePlayer.human_attribute_name :current_distance}:
    = @race_player.steps

  %h1= RacePlayer.human_attribute_name :your_choice_for_next_move
  =button_to RacePlayer.human_attribute_name(:normal), race_player_race_moves_path(race_player_id: @race_player), params: {race_move: {choice: 'normal'}}, class: "normal"
  =button_to RacePlayer.human_attribute_name(:super), race_player_race_moves_path(race_player_id: @race_player), params: {race_move: {choice: 'super'}}, class: "super"

:javascript
  $('#notice').fadeIn().delay(4000).fadeOut();
  $('#alert').fadeIn().delay(4000).fadeOut();
  $('#face-gif').fadeIn().delay(1000).fadeOut();
